<app-sub-nav title="Form" [links]="quickLinks"></app-sub-nav>

<form class="container-fluid" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3 id="anagrafica">Anagrafica</h3>
  <div class="row">
    <div class="col-md-4">
      <label class="required" for="firstName">First Name</label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        class="form-control"
        formControlName="firstName"
      />
    </div>
    <div class="col-md-4">
      <label class="required" for="lastName">Last Name</label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        class="form-control"
        formControlName="lastName"
      />
    </div>
    <div class="col-md-4">
      <label class="required" for="gender">Gender</label>
      <input
        type="text"
        name="gender"
        id="gender"
        class="form-control"
        formControlName="gender"
      />
    </div>
    <div class="col-md-4">
      <label class="required" for="birthdate">Birthdate</label>
      <input
        type="date"
        name="birthdate"
        id="birthdate"
        class="form-control"
        formControlName="birthdate"
      />
    </div>
    <div class="col-md-8">
      <label class="required" for="email">E-Mail</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
    </div>
  </div>

  <h3 id="prodotti">Prodotti</h3>
  <ng-container [formGroup]="form.controls['products']">
    <div
      class="row array-group"
      *ngFor="let prod of refProducts.controls; let i = index"
    >
      <label for="description-{{ i }}" class="required">Descrizione</label>
      <textarea
        name="description-{{ i }}"
        id="description-{{ i }}"
        cols="30"
        rows="4"
        class="form-control"
        formControlName="description"
      ></textarea>
    </div>
  </ng-container>
</form>
