<app-sub-nav title="Form" [links]="quickLinks"></app-sub-nav>

<!-- <pre>{{ form.value | json }}</pre> -->

<form class="container-fluid" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3 id="anagrafica">Anagrafica</h3>
  <div class="row mb-4">
    <div class="col-md-4">
      <label
        class="required"
        for="firstName"
        [ngClass]="{
          'text-danger':
            form.get('firstName').hasError('required') && showRequiredErrors
        }"
        >Nome</label
      >
      <input
        type="text"
        name="firstName"
        id="firstName"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            form.get('firstName').hasError('required') && showRequiredErrors
        }"
        formControlName="firstName"
      />
      <div
        class="text-danger"
        *ngIf="form.get('firstName').hasError('required') && showRequiredErrors"
      >
        Il nome &egrave; obbligatorio
      </div>
    </div>
    <div class="col-md-4">
      <label class="required" for="lastName">Cognome</label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        class="form-control"
        formControlName="lastName"
      />
    </div>
    <div class="col-md-4">
      <label class="required" for="gender">Genere</label>
      <input
        type="text"
        name="gender"
        id="gender"
        class="form-control"
        formControlName="gender"
      />
    </div>
    <div class="col-md-4">
      <label class="required" for="birthdate">Data di nascita</label>
      <input
        type="date"
        name="birthdate"
        id="birthdate"
        class="form-control"
        formControlName="birthdate"
      />
    </div>
    <div class="col-md-5">
      <label
        class="required"
        for="email"
        [ngClass]="{
          'text-danger':
            (form.get('email').hasError('required') && showRequiredErrors) ||
            form.get('email').hasError('email')
        }"
        >E-Mail</label
      >
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            (form.get('email').hasError('required') && showRequiredErrors) ||
            form.get('email').hasError('email')
        }"
        formControlName="email"
      />
      <div
        class="text-danger"
        *ngIf="form.get('email').hasError('required') && showRequiredErrors"
      >
        L'email &egrave; obbligatoria
      </div>
      <div class="text-danger" *ngIf="form.get('email').hasError('email')">
        L'email non &egrave; valida
      </div>
    </div>
    <div class="col-md-3">
      <label for="maritalStatus" class="required">Stato Maritale</label>
      <select
        name="maritalStatus"
        id="maritalStatus"
        formControlName="maritalStatus"
        class="form-control"
      >
        <option value="" disabled>Scegli un'opzione</option>
        <option *ngFor="let o of maritalStatuses" value="{{ o }}">
          {{ o }}
        </option>
      </select>
    </div>
  </div>

  <h3 id="prodotti">Prodotti</h3>
  <div class="mb-4">
    <div
      class="row array-group"
      *ngFor="let prod of refProducts.controls; let i = index"
    >
      <ng-container [formGroup]="prod">
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center">
            <h5>Prodotto {{ i + 1 }}</h5>
            <button
              class="btn btn-danger"
              (click)="removeProduct(i)"
              aria-label="rimuovi prodotto"
            >
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </div>

        <div class="col-md-6">
          <label class="required" for="name-{{ i }}">Nome</label
          ><input
            type="text"
            name="name-{{ i }}"
            id="name-{{ i }}"
            class="form-control"
            formControlName="name"
          />
        </div>
        <div class="col-md-4 col-sm-8">
          <label
            [ngClass]="{
              required: !this.prod.controls['notAvailable'].value,
              'text-danger':
                (prod.get('price').hasError('required') &&
                  showRequiredErrors) ||
                prod.get('price').hasError('min')
            }"
            for="price-{{ i }}"
            >Prezzo</label
          ><input
            type="number"
            name="price-{{ i }}"
            id="price-{{ i }}"
            class="form-control price"
            formControlName="price"
            min="0"
            [ngClass]="{
              'is-invalid':
                (prod.get('price').hasError('required') &&
                  showRequiredErrors) ||
                prod.get('price').hasError('min')
            }"
          />
          <div
            class="text-danger"
            *ngIf="prod.get('price').hasError('required') && showRequiredErrors"
          >
            Il prezzo &egrave; obbligatorio
          </div>
          <div class="text-danger" *ngIf="prod.get('price').hasError('min')">
            Il prezzo non pu&ograve; essere negativo
          </div>
        </div>
        <!-- Switch personalizzato -->
        <div class="col-md-2 col-sm-4 d-flex align-items-start">
          <div class="custom-control custom-switch">
            <input
              type="checkbox"
              class="custom-control-input"
              id="notAvailable-{{ i }}"
              formControlName="notAvailable"
            />
            <label class="custom-control-label" for="notAvailable-{{ i }}">
              Non Disponibile
            </label>
          </div>
        </div>

        <div class="col-12">
          <label for="description-{{ i }}" class="required">Descrizione</label>
          <textarea
            name="description-{{ i }}"
            id="description-{{ i }}"
            cols="30"
            rows="4"
            class="form-control"
            formControlName="description"
          ></textarea>
        </div>
      </ng-container>
    </div>
    <button class="btn btn-secondary" (click)="addNewProduct()">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>
  <div class="bottom-submit">
    <button
      type="submit"
      class="btn btn-lg btn-success d-flex align-items-center"
    >
      <span
        *ngIf="submitting"
        class="spinner-grow spinner-grow-sm mr-2"
        role="status"
        aria-hidden="true"
      ></span>
      {{ submitting ? "Invio in corso..." : "Invia" }}
    </button>
  </div>
</form>
