<app-sub-nav title="Form" [links]="quickLinks"></app-sub-nav>

<form class="container-fluid" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3 id="anagrafica">Anagrafica</h3>
  <div class="row">
    <div class="col-md">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" id="firstName" class="form-control" />
    </div>
    <div class="col-md">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName" class="form-control" />
    </div>
  </div>

  <h3 id="altro">Qualcos'altro</h3>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
</form>
