@import "../../utilities/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.array-group {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid theme-color("primary") 2px;

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
