<footer class="bg-dark">
  <div class="row">
    <div class="col-md">
      <h3>Informazioni Utili</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis,
      sem eget faucibus lobortis, odio metus interdum tortor, quis laoreet justo
      tortor non risus. Sed dapibus, metus sit amet fringilla rhoncus, arcu
      risus vulputate nisl, in ultrices augue massa vel dolor. Mauris et
      porttitor neque. Mauris sit amet mollis nibh, id dictum ante. Sed
      ultricies ex nibh, non tempus lectus varius quis.
    </div>
    <div class="col-md">
      <h3>Contattaci</h3>
      <p>
        <span class="bold">Telefono:</span>
        <a href="tel:+3938842901">+3938842901</a>
      </p>
      <p>
        <span class="bold">E-Mail:</span>
        <a href="mailto:indirizzo@gmail.com">indirizzo@gmail.com</a>
      </p>
      <p><span class="bold">Indirizzo:</span> Trieste, Via Monte Castello 12</p>
    </div>
  </div>
</footer>
