@import "../../utilities/_variables.scss";
@import "~bootstrap/scss/bootstrap";

footer {
  margin-top: 2rem;
  color: color-yiq(theme-color("dark"));
  width: 100%;
  padding: 1rem;
  overflow: hidden;
}
a {
  color: theme-color("secondary");
  &:hover {
    color: theme-color("secondary-light");
  }
}
