@import "../../utilities/_variables.scss";
@import "~bootstrap/scss/bootstrap";

nav {
  height: $nav-height;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

nav,
fa-icon,
.navbar-toggler,
a {
  color: color-yiq(theme-color("primary"));
}

img {
  height: 100%;
}

a.navbar-brand {
  height: 100%;
}

a.nav-link {
  border-radius: 4px;
  text-align: center;
  &:hover {
    background-color: theme-color("primary-background-highlight");
    color: color-yiq(theme-color("primary"));
  }
}

.navbar-collapse {
  background-color: theme-color("primary-transparent");
  border-radius: 4px;
}
