@import "../../utilities/variables";
@import "~bootstrap/scss/bootstrap";

#sub-nav {
  position: sticky;
  top: $nav-height;
  z-index: 100;
  background-color: theme-color("secondary");
  color: color-yiq(theme-color("secondary"));
  padding-bottom: 5px;
}
