@import "../utilities/_variables.scss";

.contents-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contents {
  margin-top: $nav-height;
}
