/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./utilities/_variables.scss";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: theme-color("light");
}

h1 {
  font-size: 2rem !important;
}

label.required:after {
  content: "*";
  color: red;
}

input.price::after {
  content: "€";
}

form label {
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
}

.bold {
  font-weight: bold;
}

.modal-content {
  border-color: theme-color("primary") !important;
  background-color: theme-color("primary") !important;
}

.modal-header {
  background-color: theme-color("primary");
  color: color-yiq(theme-color("primary"));
}

.modal-body {
  background-color: theme-color("light");
  color: color-yiq(theme-color("light"));
}

.modal-footer {
  background-color: theme-color("dark");
  color: color-yiq(theme-color("dark"));
}
