/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./utilities/_variables.scss";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: theme-color("light");
}

h1 {
  font-size: 2rem !important;
}

h3 {
  margin-top: 12px;
}

label.required:after {
  content: "*";
  color: red;
}

form label {
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
}

.bold {
  font-weight: bold;
}
